# macOS metadata
*.DS_Store

# Python cache
__pycache__/
*.py[cod]
**/__pycache__/

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.swp
